* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
}

.logo {
    color: #00d8ff;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu a:hover {
    color: #00d8ff;
}


.hero {
    height: 420px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: white;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn-main {
    background: #00d8ff;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-main:hover {
    background: white;
}

/* CONTAINER */
.container {
    padding: 50px;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

/* PRODUCT */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-card {
    background: white;
    border-radius: 12px;
    padding: 3px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-card h3 {
    margin-bottom: 10px;
}

.price {
    color: #e74c3c;
    font-size: 18px;
    margin-bottom: 15px;
}

.product-card button {
    background: #00d8ff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.product-card button:hover {
    background: #111;
    color: white;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
