* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    background: #075b64;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    text-decoration: underline;
}


.banner {
    background: #f6f6dc;
    padding: 40px 20px;
    text-align: center;
}

.banner h1 {
    font-size: 32px;
    margin-bottom: 10px;
}


.cart {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #eee;
    padding: 12px;
    text-align: center;
}

th {
    background: #f2f2f2;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
}


.delete {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.checkout {
    margin-top: 10px;
    background: green;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}
